@{
    ViewData["Title"] = "@ViewBag.UserObj.Alias";
}
<h2>NAME: @ViewBag.UserObj.Name</h2>
<h2>ALIAS: @ViewBag.UserObj.Alias</h2>
<h2>EMAIL @ViewBag.UserObj.Email</h2>

<p>Total Number of posts @ViewBag.numOfPosts</p>
<p>Total Number of likes @ViewBag.numOfLikes</p>
